@if (productLoading()) {
<mat-spinner></mat-spinner>
}
@else {
    <div class="card-container">
        @for (item of products; track item.id ) {
            <mat-card
                [id]="item.id" 
                appearance="outlined" 
                class="{{ selectedProductSignal() === item.id ? 'selected-card' : '' }} clickable-card card"
                (click)="onProductChange(item)">
                <mat-card-header>
                      <mat-card-title>{{item.duration}} Months</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Monthly payment: € {{item.min_instalment_amount | number:'1.2-2':'fr' }} - € {{item.max_instalment_amount | number:'1.2-2':'fr' }}</p>
                    <p>Rate: {{item.min_rate | number:'1.2-2':'fr' }} % - {{item.max_rate | number:'1.2-2':'fr' }} %</p>
                    <p>Total payment: € {{item.min_total_payment | number:'1.2-2':'fr' }} - € {{item.max_total_payment | number:'1.2-2':'fr' }}</p>
                </mat-card-content>
            </mat-card>
        }
    </div>
}