@if (productLoading()) {
<mat-spinner></mat-spinner>
}
@else {
    <div class="card-container">
        @for (item of products; track item.id ) {
            <mat-card
                [id]="item.id" 
                appearance="outlined" 
                class="{{ selectedProductSignal() === item.id ? 'selected-card' : '' }} clickable-card card"
                (click)="onProductChange(item)">
                <mat-card-header>
                      <mat-card-title>{{item.duration}} Months</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h5>Min</h5>
                        </div>
                        <div class="col">
                            <h5>Max</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Monthly payment:
                        </div>
                        <div class="col">
                            € {{item.min_instalment_amount | number:'1.2-2':'fr' }}
                        </div>
                        <div class="col">
                            € {{item.max_instalment_amount | number:'1.2-2':'fr' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Rate:
                        </div>
                        <div class="col">
                            {{item.min_rate | number:'1.2-2':'fr' }} %
                        </div>
                        <div class="col">
                            {{item.max_rate | number:'1.2-2':'fr' }} %
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Total payment:
                        </div>
                        <div class="col">
                            € {{item.min_total_payment | number:'1.2-2':'fr' }}
                        </div>
                        <div class="col">
                            € {{item.max_total_payment | number:'1.2-2':'fr' }}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        }
    </div>
}