<mat-card id="purposes" appearance="outlined">
    <mat-card-header class="center">
      <mat-card-title>Select the type of loan</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (purposesLoading()) {
        <mat-spinner></mat-spinner>
      }
      @else {
        <div class="card-scroll-container">
          @for (item of purposes; track item.id) {
              <mat-card 
                id="item.purpose" 
                appearance="outlined" 
                class="{{ selectedLoanPurposeSignal()?.id === item.id ? 'selected-card' : '' }} clickable-card inner-card"
                (click)="onLoadPurposeChange(item)">
                  <mat-card-header>
                      <mat-card-title>{{ item.purpose }}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                      <p>Min amount: {{ item.minimum_amount }}</p>
                      <p>Max amount: {{ item.maximum_amount }}</p>
                  </mat-card-content>
              </mat-card>
          }
        </div>
      }
    </mat-card-content>
</mat-card>