.clickable-card {
    cursor: pointer;
    transition: transform 0.1s;
  }
  
.clickable-card:not(.selected-card):hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.selected-card {
    transform: scale(1.05);
    border: 2px solid green;
    box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}

.inner-card {
    width: 20rem;
    min-width: 20rem;
    max-width: 80vw;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.card-scroll-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-x: scroll;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

:host {
  display: block;
  max-width: 90%;
  overflow-x: hidden;
}